# Needs pip and python
#
# Track changes:       pip install -r requirements-dev.txt
# Create environment:  mkvirtualenv pytak

# Runtime requirements
--requirement requirements.txt

# Linting
flake8
pep8
pyflakes

# Documenting in Google style
sphinxcontrib-napoleon
sphinx_rtd_theme

# Unit tests
coverage
splinter

# Test running
mock
tox
