#_______________________________________________________________________________
#                                                               Compiled source

classes/
targets/
build/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.elc
*.pyc
*.FASL
*.fasl

#_______________________________________________________________________________
#                                                                           IDE

# Ignore emacs backups
*~
\#*\#
.\#*

#_______________________________________________________________________________
#                                                                      Packages

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

#_______________________________________________________________________________
#                                                        Logs and configuration

*.log
*.sqlite

#_______________________________________________________________________________
#                                                                  OS generated

.DS_Store
Thumbs.db
tmp/

#_______________________________________________________________________________
#                                                                         Tools

.pmd
.agignore
nohup.out
repl-port
