#_______________________________________________________________________________
#                                                               Compiled source

classes/
targets/
build/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.elc
*.pyc
*.*f*sl

#_______________________________________________________________________________
#                                                                           IDE

*~

#_______________________________________________________________________________
#                                                                      Packages

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

#_______________________________________________________________________________
#                                                        Logs and configuration

*.log
*.sqlite

#_______________________________________________________________________________
#                                                                  OS generated

.DS_Store
Thumbs.db
tmp/

#_______________________________________________________________________________
#                                                                         Tools

nohup.out
repl-port
