Jinja2==2.7.1
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2
colorama==0.2.7
docutils==0.11
httplib2==0.8
mock==1.0.1
oauth2==1.5.211
py==1.4.18
pytest==2.4.2
texttable==0.8.1
wsgiref==0.1.2
pexpect==3.1
pycurl==7.19.3.1
requests==2.2.1
jsonschema==2.3.0
